version: "{build}"

environment:
  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      MSVC_VERSION: 2017
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      MSVC_VERSION: 2019

configuration:
  - Debug

clone_depth: 10
clone_folder: c:\toml11

install:
  - git submodule update --init --recursive

build_script:
  - '"C:\Program Files (x86)\Microsoft Visual Studio\%MSVC_VERSION%\Community\VC\Auxiliary\Build\vcvarsall.bat" x64'
  - cd C:\toml11
  - cmake -B build -G"NMake Makefiles" -DCMAKE_CXX_STANDARD=11 -DTOML11_BUILD_TESTS=ON -DBUILD_TESTING=ON -DTOML11_PRECOMPILE=ON
  - cmake --build build

test_script:
  - dir build\
  - dir build\tests\
  - ctest --test-dir build --timeout 300 --output-on-failure
  # - build\tests\Debug\test_comments.exe
  # - build\tests\Debug\test_datetime.exe
  # - build\tests\Debug\test_error_message.exe
  # - build\tests\Debug\test_find.exe
  # - build\tests\Debug\test_find_or.exe
  # - build\tests\Debug\test_format_integer.exe
  # - build\tests\Debug\test_format_floating.exe
  # - build\tests\Debug\test_format_table.exe
  # - build\tests\Debug\test_get.exe
  # - build\tests\Debug\test_get_or.exe
  # - build\tests\Debug\test_location.exe
  # - build\tests\Debug\test_literal.exe
  # - build\tests\Debug\test_parse_null.exe
  # - build\tests\Debug\test_parse_boolean.exe
  # - build\tests\Debug\test_parse_integer.exe
  # - build\tests\Debug\test_parse_floating.exe
  # - build\tests\Debug\test_parse_string.exe
  # - build\tests\Debug\test_parse_datetime.exe
  # - build\tests\Debug\test_parse_array.exe
  # - build\tests\Debug\test_parse_inline_table.exe
  # - build\tests\Debug\test_parse_table_keys.exe
  # - build\tests\Debug\test_parse_table.exe
  # - build\tests\Debug\test_result.exe
  # - build\tests\Debug\test_scanner.exe
  # - build\tests\Debug\test_serialize.exe
  # - build\tests\Debug\test_syntax_boolean.exe
  # - build\tests\Debug\test_syntax_integer.exe
  # - build\tests\Debug\test_syntax_floating.exe
  # - build\tests\Debug\test_syntax_string.exe
  # - build\tests\Debug\test_syntax_datetime.exe
  # - build\tests\Debug\test_syntax_key.exe
  # - build\tests\Debug\test_syntax_comment.exe
  # - build\tests\Debug\test_spec.exe
  # - build\tests\Debug\test_storage.exe
  # - build\tests\Debug\test_traits.exe
  # - build\tests\Debug\test_types.exe
  # - build\tests\Debug\test_utility.exe
  # - build\tests\Debug\test_user_defined_conversion.exe
  # - build\tests\Debug\test_value.exe
  # - build\tests\Debug\test_visit.exe
  # - build\tests\Debug\test_parse.exe
