name: build

on: push

jobs:
  build-windows-msvc:
    runs-on: windows-2019
    strategy:
      matrix:
        standard: ['20']
        config: ['Release', 'Debug']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
      - uses: ilammy/msvc-dev-cmd@v1
      - name: Configure
        shell: cmd
        run: |
            cmake . -G "NMake Makefiles" -DCMAKE_CXX_STANDARD=${{ matrix.standard }}
      - name: Build
        run: |
            cmake --build . --config "${{ matrix.config }}"
      - name: Test
        run: |
            ctest --build-config "${{ matrix.config }}" --verbose
